<div class="diag-vweekend-addemail" ng-controller="victoryweekend.ctrl.diags.email as vweekendEmailsCtrl">
    <form class="gen-form-static">
        <div class="form-group _inputgroup">
            <label class="gfs-title">#{{data.index}}: {{data.tr.firstname+' '+data.tr.lastname}}</label>
            <input type="text" ng-class="vweekendEmailsCtrl.email.error?'_inputerr':''" ng-change="vweekendEmailsCtrl.email.change()" ng-model="form.email" class="gen-input-control" placeholder="Please enter email address" />
            <div class="_error" ng-if="vweekendEmailsCtrl.email.error">{{vweekendEmailsCtrl.email.errortext}}</div>
            <div class="_icon" ng-if="vweekendEmailsCtrl.email.searching"><i class="fas fa-spinner fa-spin"></i></div>
        </div>
        <div class="form-btn-right">
            <button click-and-disable="vweekendEmailsCtrl.submit()" ng-disabled="vweekendEmailsCtrl.email.error||vweekendEmailsCtrl.email.searching||form.email===undefined" class="btn btn-success btn-xs">Submit</button>
        </div>
    </form>
</div>