<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="content-loading ng-hide" ng-show="isloadingService.get.content"><div class="spinner-container" bind-html-compile="spinnerValues.default"></div></div>
    <!-- Content Header (Page header) -->
    <section class="content-header" ng-cloak ng-controller="main.breadcrumb.controller as mainbcrumbCtrl">
        <ol class="breadcrumb">
            <li><a ui-sref="sref_sidebar({tab:'dashboard'})"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li ng-repeat="list in tab" ng-if="stateparams.tab!=='dashboard'" class="active">{{list}}</li>
        </ol>
    </section>