 <!-- =============================================== -->
    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar" ng-controller="main.sidebar.controller as mainsbarCtrl">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel" ng-cloak style="display:none;">
                <div class="pull-left image" ui-sref="sref_sidebar({tab:'profile',name:'Profile'})">
                    <img ng-cloak ng-src="api/getfile?name={{pathValue.userphoto+appmainCtrl.userdata.photo}}&size=64" onerror="this.src='assets/img/no-profile-male-img.jpeg'" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{appmainCtrl.userdata.fullname}}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form" style="display:none;">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu ng-cloak" data-widget="tree" ng-cloak>
                <li ng-repeat="link in mainsbarCtrl.data"
                    ng-class="{'active':stateparams.tab===link.code,'header':link.code==null&&link.collapsible==0,'treeview':link.collapsible==1,'active menu-open':link.collapsible==1&&link.code===null&&stateparams.tab.indexOf('admin;')!==-1}">
                    <span ng-if="link.code===null&&link.collapsible==0">{{link.name}}</span>
                    <a ng-if="link.code!==null" ui-sref="sref_sidebar({tab:link.code,name:link.name})">
                        <i ng-class="link.icon" ng-if="link.icon"></i> <span>{{link.name}}</span>
                    </a>
                    <a href="#" ng-if="link.code===null&&link.collapsible==1">
                        <i class="fa fa-user-secret"></i> <span>{{link.name}}</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul ng-class="{'treeview-menu':link.collapsible==1}" ng-style="{'display':stateparams.tab.indexOf('admin;')!==-1?'block':''}" class="_childs" ng-if="link.childs.length>0">
                        <li ng-repeat="childs in link.childs" ng-class="{'active':stateparams.tab===childs.code,'header':childs.code==null&&childs.collapsible==0}">
                            <a ng-if="childs.code!==null" ui-sref="sref_sidebar({tab:childs.code,name:childs.name})">
                                <i ng-class="childs.icon" ng-if="childs.icon"></i> <span>{{childs.name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
<!-- =============================================== -->

