<div class="page-churchcommunity" ng-controller="makingdisciples.page.controller as makingdisciplespageCtrl">
    <gt-tabset gt-onchange="makingdisciplespageCtrl.tab.change">
        <gt-tab active template="page/loadview?dir=pages&view=making_disciples/tabs/makingdisciples.html"><i class="fas fa-check-circle"></i> <?= $this->lang->line('trans.makingdisciples');?></gt-tab>
        <gt-tab template="page/loadview?dir=pages&view=making_disciples/tabs/makingdisciplesdates.html"><i class="far fa-calendar-alt"></i> <?= $this->lang->line('trans.date');?></gt-tab>
    </gt-tabset>
</div>