.page-churchcommunity {}
.page-churchcommunity .tab-church-community ._adddate {
    text-align:center;
    font-size:30px;
    padding:20px;
    color:#757575;
}
.page-churchcommunity .tab-church-community ._adddate i {
    cursor:pointer;
    color:#194389;
    font-size:50px;
    vertical-align:middle;
    position:relative;
    top:-5px;
    padding:5px;
}