<div class="gen-tabset-container" ng-class="gtTbsetCtrl.tabs.theme">
    <div class="gen-tabset-c-header"><ng-transclude></ng-transclude></div>
    <div class="gen-tabset-c-content">
        <ul class="gen-tabset-c-c-tabs" ng-class="gtTbsetCtrl.tabs.fit==true?'_fit':''">
            <li ng-click="gtTbsetCtrl.settings.toggle()" ng-if="gtTbsetCtrl.settings.visibility" class="settings"><i class="fa fa-cog" aria-hidden="true"></i></li>
            <li ng-click="gtTbsetCtrl.loadtemplate(item,$index)" ng-repeat="item in gtTbsetCtrl.tabs.list" ng-class="{'active':item.active===true,'asurl':item.as!==undefined&&item.as==='url'}" ng-if="item.ngif==undefined||item.ngif==true">
                <a ng-if="item.as!==undefined&&item.as==='url'" ui-sref="tabset(item.node)" bind-html-compile="item.html"></a>
                <span bind-html-compile="item.html" ng-if="item.as===undefined||item.as!=='url'"></span>
                <ul class="_btn" ng-if="item.as===undefined||item.as!=='url'">
                    <li ng-if="gtTbsetCtrl.btns[1]" title="{{gtTbsetCtrl.btns[1].tooltip}}" ng-click="gtTbsetCtrl.btnfn('edit',$event,item)"><i ng-class="gtTbsetCtrl.btns[1].icon"></i></li>
                    <li ng-if="gtTbsetCtrl.btns[2]&&item.candelete==1" title="{{gtTbsetCtrl.btns[2].tooltip}}" ng-click="gtTbsetCtrl.btnfn('remove',$event,item)"><i ng-class="gtTbsetCtrl.btns[2].icon"></i></li>
                </ul>
            </li>
            <li class="_btn" ng-if="gtTbsetCtrl.btns[0]" title="{{gtTbsetCtrl.btns[0].tooltip}}" ng-click="gtTbsetCtrl.btnfn('add',$event,item)"><i ng-class="gtTbsetCtrl.btns[0].icon"></i></li>
        </ul>
        <div class="gen-tabset-c-c-content" ng-repeat="item in gtTbsetCtrl.tabs.list" ng-show="item.active" ng-if="item.as===undefined||item.as!=='url'&&(item.ngif==undefined||item.ngif==true)" ng-include="item.loadtemplate"></div>
    </div>
</div>