/** app-skin-blue */
[data-skin='app-skin-blue'] {

}
.app-skin-blue .main-header .navbar,
[data-skin='app-skin-blue'] div:nth-child(1) > span:nth-child(2) {
    background-color: #184289;
}
.app-skin-blue .main-header .navbar .nav > li > a[data-toggle='control-sidebar'] {
    color:#082447 !important;
    font-size: 30px;
}
.app-skin-blue .main-header .navbar .nav > li > a {
    color: #ffffff;
}
.app-skin-blue .main-header .navbar .nav > li > a:hover,
.app-skin-blue .main-header .navbar .nav > li > a:active,
.app-skin-blue .main-header .navbar .nav > li > a:focus,
.app-skin-blue .main-header .navbar .nav .open > a,
.app-skin-blue .main-header .navbar .nav .open > a:hover,
.app-skin-blue .main-header .navbar .nav .open > a:focus,
.app-skin-blue .main-header .navbar .nav > .active > a {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}
.app-skin-blue .main-header .navbar .sidebar-toggle {
    color: #ffffff;
}
.app-skin-blue .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1);
}
.app-skin-blue .main-header .navbar .sidebar-toggle {
    color: #fff;
}
.app-skin-blue .main-header .navbar .sidebar-toggle:hover {

}
@media (max-width: 767px) {
    .app-skin-blue .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1);
    }
    .app-skin-blue .main-header .navbar .dropdown-menu li a {
        color: #fff;
    }
    .app-skin-blue .main-header .navbar .dropdown-menu li a:hover {

    }
}
[data-skin='app-skin-blue'] div:nth-child(1) > span:nth-child(1),
.app-skin-blue .main-header .logo {
    background-color: #153c7a;
}
.app-skin-blue .main-header .logo {
    color: #ffffff;
    border-bottom: 0 solid transparent;
}
.app-skin-blue .main-header .logo:hover {

}
.app-skin-blue .main-header li.user-header {
}
.app-skin-blue .content-header {
    background: transparent;
}
[data-skin='app-skin-blue'] div:nth-child(2) > span:nth-child(1),
.app-skin-blue .wrapper,
.app-skin-blue .main-sidebar,
.app-skin-blue .left-side {
    background-color: #082347;
}
.app-skin-blue .user-panel > .info,
.app-skin-blue .user-panel > .info > a {
    color: #fff;
}
.app-skin-blue .sidebar-menu > li.header {
    color: #c1c1c1;
    position:relative;
    font-size:10px;

}
.app-skin-blue .sidebar-menu > li.header > span {
    background-color:#082447;
    z-index:1;
    padding-right:5px;
}
.app-skin-blue .sidebar-menu > li.header:after {
    z-index:-1;
    content:'';
    position:absolute;
    border-top:1px solid #707070;
    top:50%;
    margin-left:20px;
    margin-right:10px;
    left:1px;
    right:1px;
}
.app-skin-blue .sidebar-menu > li > a {
    border-left: 3px solid transparent;
}
.app-skin-blue .sidebar-menu > li:hover > a,
.app-skin-blue .sidebar-menu > li.active > a,
.app-skin-blue .sidebar-menu > li.menu-open > a {
    color: #c1c1c1;
    background: #194389;
}
.app-skin-blue .sidebar-menu > li.active > a {
    border-left-color: #3c8dbc;
}
.app-skin-blue .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #082447;
}
.app-skin-blue .sidebar a {
    color: #c1c1c1;
}
.app-skin-blue .sidebar a:hover {
    text-decoration: none;
}
.app-skin-blue .sidebar-menu .treeview-menu > li > a {
    color: #c1c1c1;
}
.app-skin-blue .sidebar-menu .treeview-menu > li.active > a,
.app-skin-blue .sidebar-menu .treeview-menu > li > a:hover {
    color: #c1c1c1;
}
.app-skin-blue .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}
.app-skin-blue .sidebar-form input[type="text"],
.app-skin-blue .sidebar-form .btn {
    box-shadow: none;
    background-color: #082447;
    border: 1px solid transparent;
    height: 35px;
}
.app-skin-blue .sidebar-form input[type="text"] {
    color: #c1c1c1;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}
.app-skin-blue .sidebar-form input[type="text"]:focus,
.app-skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #184289;
    color: #c1c1c1;
}
.app-skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
}
.app-skin-blue .sidebar-form .btn {
    color: #c1c1c1;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}
.app-skin-blue.layout-top-nav .main-header > .logo {
    background-color: #3c8dbc;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}
.skin-blue.layout-top-nav .main-header > .logo:hover {
    background-color: #3b8ab8;
}
