.page-dashboard {}
.page-dashboard .small-box {}
.page-dashboard .small-box._banner .inner {
    z-index: 10;
    position: relative;
}
.page-dashboard .small-box._banner._banner-victoryweekend {
    background-image: url(../../../assets/img/bg/establish.png);
    color:white;
}
.page-dashboard .small-box._banner._banner-victoryweekend img {
    width:80px;
}

.page-dashboard .small-box._banner._banner-church-community {
    background-image: url(../../../assets/img/bg/establish.png);
    color:white;
}

.page-dashboard .small-box._banner._banner-purple-book img {
    width:80px;
}

.page-dashboard .small-box._banner._banner-purple-book {
    background-image: url(../../../assets/img/bg/establish.png);
    color:white;
}

.page-dashboard .small-box._banner._banner-makingdisciple {
    background-image: url(../../../assets/img/bg/equip.png);
    color:white;
}
.page-dashboard .small-box._banner._banner-makingdisciple img {
    width:110px;
}

.page-dashboard .small-box._banner._banner-empowering-leaders {
    background-image: url(../../../assets/img/bg/empower.png);
    color:white;
}
.page-dashboard .small-box._banner._banner-empowering-leaders img {
    width: 42px;
}

.page-dashboard .small-box._banner._banner-leadership113 {
    background-image: url(../../../assets/img/bg/empower.png);
    color:white;
    min-height:128px;
}
.page-dashboard .small-box._banner._banner-leadership113 img {
    max-width:100%;
}
.page-dashboard .small-box._banner._banner-leadership113 .icon {
    left: 0px;
    margin-left:10px;
}
.page-dashboard .small-box._banner._banner-leadership113 .small-box-footer {
    position:absolute;
    width:100%;
    bottom:0;
}