<div class="page-schedules" ng-controller="schedules.page.controller as schedulespageCtrl">     
    <div style="display:none;" class="gen-calendar-container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <div class="gen-calendar-c-content">
                    <div class="_header">
                        <table>
                            <tbody>
                            <tr>
                                <td class="_left">
                                    <div class="btn-group">
                                        <button class="btn btn-primary" mwl-date-modifier date="schedulespageCtrl.viewDate" decrement="schedulespageCtrl.calendarView" ng-click="schedulespageCtrl.cellIsOpen = false">
                                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-default" mwl-date-modifier date="schedulespageCtrl.viewDate" set-to-today ng-click="schedulespageCtrl.cellIsOpen = false">
                                            Today
                                        </button>
                                        <button class="btn btn-primary" mwl-date-modifier date="schedulespageCtrl.viewDate" increment="schedulespageCtrl.calendarView" ng-click="schedulespageCtrl.cellIsOpen = false">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </td>
                                <td class="_title">
                                    <div class="_calendar-title">{{ schedulespageCtrl.calendarTitle }}</div>
                                </td>
                                <td class="_right">
                                    <div class="btn-group">
                                        <label class="btn btn-primary" ng-model="schedulespageCtrl.calendarView" uib-btn-radio="'year'" ng-click="schedulespageCtrl.cellIsOpen = false">Year</label>
                                        <label class="btn btn-primary" ng-model="schedulespageCtrl.calendarView" uib-btn-radio="'month'" ng-click="schedulespageCtrl.cellIsOpen = false">Month</label>
                                        <label class="btn btn-primary" ng-model="schedulespageCtrl.calendarView" uib-btn-radio="'week'" ng-click="schedulespageCtrl.cellIsOpen = false">Week</label>
                                        <label class="btn btn-primary" ng-model="schedulespageCtrl.calendarView" uib-btn-radio="'day'" ng-click="schedulespageCtrl.cellIsOpen = false">Day</label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="_calendar">
                        <mwl-calendar
                                events="schedulespageCtrl.events"
                                view="schedulespageCtrl.calendarView"
                                view-title="schedulespageCtrl.calendarTitle"
                                view-date="schedulespageCtrl.viewDate"
                                on-event-click="schedulespageCtrl.eventClicked(calendarEvent)"
                                on-event-times-changed="schedulespageCtrl.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                                cell-is-open="schedulespageCtrl.cellIsOpen"
                                day-view-start="06:00"
                                day-view-end="22:59"
                                day-view-split="30"
                                cell-modifier="schedulespageCtrl.modifyCell(calendarCell)"
                                cell-auto-open-disabled="true"
                                on-timespan-click="schedulespageCtrl.timespanClicked(calendarDate, calendarCell)">
                        </mwl-calendar>
                    </div>
                    <div class="_footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>