.page-victoryweekend {}
.page-victoryweekend .tab-generalsettings {
    padding:10px;
}
.page-victoryweekend .tab-victoryweekend {

}

.page-victoryweekend .tab-victoryweekend .gen-accordion-row:not(._active):last-child > .gen-accordion-header{
    border-bottom:none;
}

.page-victoryweekend .tab-victoryweekend ._adddate {
    text-align:center;
    font-size:30px;
    padding:20px;
    color:#757575;

}
.page-victoryweekend .tab-victoryweekend ._adddate i {
    cursor:pointer;
    color:#194389;
    font-size:50px;
    vertical-align:middle;
    position:relative;
    top:-5px;
    padding:5px;
}
.page-victoryweekend .tab-victoryweekend > ._form {
    padding:10px;
}

/** dialog victory weekend adding emails */
.diag-vweekend-addemail {}
.diag-vweekend-addemail input {
    padding-right: 30px !important;
}
.diag-vweekend-addemail input._inputerr {
    border:1px solid red !important;
}
.diag-vweekend-addemail ._error {
    position:absolute;
    color:red;
    
    font-size:12px;
}
.diag-vweekend-addemail ._icon {
    position: absolute;
    bottom: 7px;
    right: 10px;
}
.diag-vweekend-addemail ._inputgroup {
    position:relative;
}