<div class="page-translation" ng-controller="translation.page.controller as translationpageCtrl">
    <gt-table id="translation.list" model="fetch/translation_get/getlist" formatter="translation/formatter/translation.js">
        <gt-table-btns action="add" gtclick="translationpageCtrl.translation.form"></gt-table-btns>
        <gt-table-col field="variable">Variable</gt-table-col>
        <!--<gt-table-col field="languages" format="translations">languages</gt-table-col>-->
        <gt-table-col field="filipino" format="language"><img ng-src="api/getfile?name=flags/philippines.png&size=32&ext=.png" alt="User Image">&nbsp;Filipino</gt-table-col>
        <gt-table-col field="english" format="language"><img ng-src="api/getfile?name=flags/united-states-of-america.png&size=32&ext=.png" alt="User Image">&nbsp;English</gt-table-col>
        <gt-table-col field="nigeria" format="language"><img ng-src="api/getfile?name=flags/nigeria.png&size=32&ext=.png" alt="User Image">&nbsp;Nigeria</gt-table-col>
        <gt-table-col format="action" td-style="{width:'1px'}" text-align="center">Action</gt-table-col>
    </gt-table>
</div>