<div class="page-dashboard" ng-controller="dashboard.page.controller as dashboardpageCtrl">
    <div class="row">
        <div class="col-lg-5 col-xs-6">
            <div class="row">
                <div class="col-lg-5">
                    <!-- small box -->
                    <div class="small-box _banner _banner-one2one">
                        <div class="inner">
                            <h3>0</h3>
                            <p>Undergoing One2one</p>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-1">
                    <!-- small box -->
                    <div class="small-box _banner _banner-vggroup">
                        <div class="inner">
                            <h3>0</h3>
                            <p>Victory Group Leaders</p>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-xs-6">
            <div class="row">
                <div class="col-lg-5">
                    <!-- small box -->
                    <div class="small-box _banner _banner-vginterns">
                        <div class="inner">
                            <h3>0</h3>
                            <p>Victory Group Interns</p>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-1">
                    <!-- small box -->
                    <div class="small-box _banner _banner-vwcandidates">
                        <div class="inner">
                            <h3>0</h3>
                            <p>Victory Weekend Candidates</p>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <!-- small box -->
                    <div class="small-box _banner _banner-inactiveleaders">
                        <div class="inner">
                            <h3>0</h3>
                            <p>Inactive Leaders</p>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <label>Statistics</label>
</div>