<div class="diag-admin-center-addadmin" ng-controller="centers.ctrl.diags.addadmin as usrchurchadminCtrl">
     <div ng-init="$parent.title='Add admin'"></div>
     <form class="gen-form-static">          
          <div class="form-group _emailinput">
               <label class="gfs-title">Enter Email address</label>               
               <input type="text" ng-class="usrchurchadminCtrl.email.error?'_inputerr':''" ng-change="usrchurchadminCtrl.email.change()" ng-model="form.email" class="gen-input-control" />
               <div class="_error" ng-if="usrchurchadminCtrl.email.error">{{usrchurchadminCtrl.email.errortext}}</div>
               <div class="_icon" ng-if="usrchurchadminCtrl.email.searching"><i class="fas fa-spinner fa-spin"></i></div>
          </div>          
          <div class="_alreadyexists" ng-if="usrchurchadminCtrl.email.alreadyexist">
               <table>
                    <tbody>
                         <tr ng-repeat="user in usrchurchadminCtrl.email.users">                              
                              <td>
                                   <gt-profile photo="user.photo" userid="user.userid" name="user.fullname"></gt-profile>&nbsp;<span ng-class="user.firstname!=null?'gen-text-style-capitalize':''">{{user.fullname}}</span>
                              </td>
                         </tr>
                         <tr>
                              <td>
                                   <label>
                                        <input type="checkbox" ng-model="usrchurchadminCtrl.email.alreadyexistverify" />
                                        <span class="gfs-desc gen-text-noselect">Sample text explain the process when the email is already exists!</span>
                                   </label>                                   
                              </td>
                         </tr>
                    </tbody>
               </table>
          </div>
          <div class="form-btn-right">               
               <button click-and-disable="usrchurchadminCtrl.invite()" class="btn btn-success btn-sm" 
               ng-disabled="usrchurchadminCtrl.email.searching||form.email===undefined||(usrchurchadminCtrl.email.error&&usrchurchadminCtrl.email.alreadyexist===undefined)||(usrchurchadminCtrl.email.error&&usrchurchadminCtrl.email.alreadyexist&&!usrchurchadminCtrl.email.alreadyexistverify)">Invite</button>
          </div>
     </form>
</div>