<div>
    <div class="_selectdate" ng-if="cCommunityCtrl.list.processing"><div class="spinner-container" bind-html-compile="spinnerValues.default"></div></div>
    <div class="_table" ng-if="!cCommunityCtrl.list.processing">
        <div class="_adddate" ng-if="cCommunityCtrl.list.data===null">
            <?= $this->lang->line('trans.churchcommunity.date.add');?> <i ng-click="cCommunityCtrl.date.create()" class="far fa-calendar-plus"></i>
        </div>
        <div ng-if="cCommunityCtrl.list.data!==null">
            <gt-table id="churchcommunity.pre.list" formatter="church_community/tabs/churchcommunity/formatter/churchcommunity.js" model="fetch/churchcommunity_get/getchurchcommunitylist/{{cCommunityCtrl.list.data.id}}" tablestyle="{'border-bottom':'none','border-right':'none','border-left':'none'}" headerstyle="{'border-top':'none','border-right':'none','border-left':'none'}">
                <gt-table-title>{{cCommunityCtrl.list.data.date | date:'MMMM dd, yyyy'}}</gt-table-title>
                <gt-table-btns action="button" gtclick="cCommunityCtrl.markasdone.go"><span><?= $this->lang->line('trans.mark.as.done');?></span></gt-table-btns>
                <gt-table-col gtclick="cCommunityCtrl.markasdone.check" field="no" format="numchecklist" text-align="center" td-style="{width:'1px'}">#</gt-table-col>
                <gt-table-col field="fullname" format="fullname"><?= $this->lang->line('trans.fullname');?></gt-table-col>
                <gt-table-col format="action" td-style="{width:'1px'}" text-align="center"><?= $this->lang->line('trans.controls');?></gt-table-col>
            </gt-table>
        </div>
    </div>
</div>