.main-gen-template {}

/* header */
.main-gen-template header {}
.main-gen-template header {}
.main-gen-template header .navbar-custom-menu {}
.main-gen-template header .navbar-custom-menu > ul {}
.main-gen-template header .navbar-custom-menu > ul > li {}
.main-gen-template header .navbar-custom-menu > ul > li {}
.main-gen-template header .navbar-custom-menu > ul > li._nav {

}
.main-gen-template header .navbar-custom-menu > ul > li._nav._user {}
.main-gen-template header .navbar-custom-menu > ul > li._nav._user > a:focus {
    background-color:inherit;
}
.main-gen-template header .navbar-custom-menu > ul > li._nav._user:hover {
    cursor:pointer;
}
.main-gen-template header .navbar-custom-menu > ul > li._nav._user img {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}
.main-gen-template .content-wrapper {
    position:relative;
}
.main-gen-template .content-wrapper > .content-loading {
    position:absolute;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    z-index:1000;
    text-align: center;
    background: rgb(35, 45, 51,.3);
}
.main-gen-template .content-wrapper > .content-loading > div {
    position:absolute;

    text-align: center;
    top: 120px;
    display: inline-block;
    margin-left: -35px;
}
.main-gen-template .content-wrapper > .content-loading > div .spinner > div {
    background-color:white !important;
}