-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}


.main-gen-template {
    overflow-y: hidden;
}

/* css per page */
.main-gen-template.discipleship .content-wrapper section.content-header {
    display:none;
}
.main-gen-template.discipleship .content-wrapper section.content {
    padding:0;
} 

.main-gen-template > .wrapper > .content-wrapper::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
.main-gen-template > .wrapper > .content-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #96A6BF, #63738C);
    box-shadow: inset 0 0 1px 1px #9E9E9E;
    background:#c1c1c1;
}

.main-gen-template > .wrapper > .content-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
    box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3)
}

.main-gen-template > .wrapper > .content-wrapper::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(left, #8391A6, #536175);
}




/* header */
.main-gen-template header {}
.main-gen-template header {}
.main-gen-template header .navbar-custom-menu {}
.main-gen-template header .navbar-custom-menu > ul {}
.main-gen-template header .navbar-custom-menu > ul > li {}
.main-gen-template header .navbar-custom-menu > ul > li {}
.main-gen-template header .navbar-custom-menu > ul > li._nav {

}
.main-gen-template header .navbar-custom-menu > ul > li._nav._user {}
.main-gen-template header .navbar-custom-menu > ul > li._nav._user > a:focus {
    background-color:inherit;
}
.main-gen-template header .navbar-custom-menu > ul > li._nav._user:hover {
    cursor:pointer;
}
.main-gen-template header .navbar-custom-menu > ul > li._nav._user img {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}
.main-gen-template .content-wrapper {
    position:relative;
    overflow-y: scroll;
}
.main-gen-template .content-wrapper > .content-loading {
    position:absolute;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    z-index:1000;
    text-align: center;
    background: rgba(35, 45, 51,.3);
}
.main-gen-template .content-wrapper > .content-loading > div {
    position:absolute;

    text-align: center;
    top: 120px;
    display: inline-block;
    margin-left: -35px;
}
.main-gen-template .content-wrapper > .content-loading > div .spinner > div {
    background-color:white !important;
}