<div class="tab-generalsettings" ng-controller="victoryweekend.page.settings.controller as vwSettingsCtrl">
    <div class="_form">
        <form class="gen-form-static">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="gfs-title">Chapter for those qualified to take victory weekend</label>
                        <select ng-change="vwSettingsCtrl.one2one.selectchapter(key)" ng-options="value.id as value.name for value in vwSettingsCtrl.one2one.chapters" ng-model="vwSettingsCtrl.one2one.form.chapterid"></select>
                        <!--<option ng-repeat="item in vwSettingsCtrl.one2one.chapters" ng-value="item.id">{{item.name}}</option>-->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>